html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.battlefield {
    width: 600px;
    height: 600px;
    background:url("res/battlefield.jpg");
}

.marker{
    position: absolute;
    font-family: Verdana;
    font-size:130px;
    margin-left:50px;
    margin-top:15px;
}

.battlefield2{
    height: 600px;
    width: 600px;
    background:url("res/battlefield.jpg");
}

td {
    vertical-align: top;
}

button{
    background-color: #808080;
}

.history-display{
    border:2px solid black;
    width:100%;
    height:70px;
    overflow-y:scroll;
}